
/* 用google fonts字樣的第三方套件, import 在 public/index.html */
* {
    font-family: "Ubuntu Condensed", sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root{
      --blue : #2a2185;
      --white: #fff;
      --gray: #f5f5f5;
      --black1: #222;
      --black2: #999;
  }
  
  body{
      min-height: 100vh;   /*不懂 */
      overflow-x: hidden;
  }
  
  
  .container{
      position:relative;
      width: 100%;
      overflow: hidden;
  }
  
  .navigation{
      position: fixed;
      width: 300px;
      height: 100%;
      background: var(--blue);
      border-left: 15px solid var(--blue); 
      transition: 0.5s;   
      overflow:hidden;  
  }
  
  .navigation.active{
      width:80px;
  }
  
  .navigation ul{
      position: absolute;
      top:0;
      left:0;
      width:100%;
  }
  
  .navigation ul li{
      position: relative;
      width: 100%;
      list-style: none;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
  }
  
  .navigation ul li:hover,              
  .navigation ul li.hovered{
      background-color: var(--white);
  }
  
  .navigation ul li:nth-child(1){    /*把最上頭的li與下層的li分開*/
      margin-bottom:40px;
      pointer-events: none;
  }

  .navigation ul li:nth-child(12){    /*把最上頭的li與下層的li分開*/
    margin-top:270px;
    font-size: 1.5rem;
}

  
  .navigation ul li a{
  position:relative;
  display: block;
  width:100%;
  display: flex;
  text-decoration: none;
  color:var(--white);
  }
  
  .navigation ul li:hover a,                /*不懂 */
  .navigation ul li.hovered a{
  color:var(--blue);
  }
  
  .navigation ul li a .icon{
      position:relative;
      display: block;
      min-width: 60px;
      height: 60px;
      line-height: 60px;
      text-align: center;
  }
  
  .navigation ul li a .icon ion-icon{
      font-size: 1.75rem;
  }
  
  .navigation ul li a .title{
      position:relative;
      display: block;
      padding: 0 10px;
      height: 60px;
      line-height: 60px;
      text-align: start;
      white-space: nowrap;
  }
  
  .navigation ul li:hover a::before,          /*不懂 */
  .navigation ul li.hovered a::before{
      content:"";
      position: absolute;
      right: 0;
      top:-50px;
      width: 50px;
      height: 50px;
      background-color: red transparent;
      border-radius: 50%;
      box-shadow: 35px 35px 0 10px var(--white);
      pointer-events: none;
  }
  
  .navigation ul li:hover a::after,
  .navigation ul li.hovered a::after{
      content:"";
      position: absolute;
      right: 0;
      bottom:-50px;
      width: 50px;
      height: 50px;
      background-color: red transparent;
      border-radius: 50%;
      box-shadow: 35px -35px 0 10px var(--white);
      pointer-events: none;
  }
  
  
  /* ================== main ======================= */
  .main{
      position:relative;
      width:calc(100% - 300px);
      left:300px;
      min-height: 100vh;
      background:var(--white);
      transition:0.5s;
      }
  
      .main.active{
          width:calc(100% - 80px);
          left:80px;
      }
  
  .topbar{
          width:100%;
          height: 60px;
          display:flex;
          justify-content: space-between;
          align-items: center;
          padding:0 10px;
      }
  
      /* 網頁左上角的四個小正方形 */
      .toggle{   
          position: relative;
          width:60px;
          height: 60px;
          display: flex;
          justify-content:center;
          align-items: center;
          font-size: 2.5rem;
          cursor: pointer;
      }
  
      .search{
          position:relative;
          width:400px;
          margin:0 10px;
      }
  
      .search label{
          position: relative;
          width: 100%;
      }
  
      .search label input{
          width: 100%;
          height: 40px;
          border-radius: 40px;
          padding: 5px 20px;
          padding-left: 35px;
          font-size: 1.2rem;
          font-size: 18px;
          outline:none;
          border: 2px solid var(--black1);
      }
  
      .search label ion-icon{
         position: absolute;
         top:0;
         left: 10px;
         font-size: 1.2rem;
      }
  
      .user{
          position: relative;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          overflow: hidden;
          cursor:pointer;   
          z-index: 999;
          overflow:hidden;
      }
  
      .user img{
          position: absolute;
          top:0;
          left:0;
          width: 100%;
          height: 100%;
          object-fit: cover;
      }

      .user:hover{
        cursor: pointer;
        width:50px;
        height: 50px;
      }
  
  /* ======================time card==================== */

.timeblock{
    position: relative;
    display: grid;
    border-radius: 20px;
    width: 100%;
    grid-template-columns: repeat(3,1fr); 
    grid-gap:30px;
    padding: 20px;
    min-height: 300px;
}
  
.timeblock .timecard{
    position: relative;
    display: grid;
    width:100%;
    background-color: var(--white);
    box-shadow:0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
}

.clockarea{
    display: block;
    position: relative;
    width: 100%;
    background: var(--white);
    min-height: 300px;
    border-radius: 20px;
    left:20px;
}

.timeblock .timecard .timename{
    position: relative;
    padding:4px;
    font-size: 2rem;
    padding: 15px;
    color: var(--blue);
}

.timeblock .timecard .timearea{
    position: relative;
    padding:4px;
    font-size: 2.8rem;
    padding: 10px;
    color: var(--blue);
}

.timeblock .timecard .pressblock1{
    position: relative;
    color: var(--blue);
    background:var(--white);
    width: 140px;
    height: 60px;
    border-radius: 20px;
    font-size: 30px;
    left: 10px;
}

.timeblock .timecard .pressblock2{
    position: relative;
    color: var(--blue);
    background:var(--white);
    width: 140px;
    height: 60px;
    border-radius: 20px;
    font-size: 30px;
    left: 10px;
}

.timeblock .timecard .pressblock3{
    position: relative;
    color: var(--blue);
    background:var(--white);
    width: 140px;
    height: 60px;
    border-radius: 20px;
    font-size: 30px;
    left: 10px;
}

.timeblock .timecard .pressblock:hover{
    color: var(--white);
    background:var(--blue);
    width: 180px;
    height: 60px;
    overflow: hidden;
}

/* =======================clock============================= */

.clock-dial{
    width: 500px;
    height: 500px;
    border: 20px solid var(--blue);
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
}

.point{
    width:20px;
    height:20px;
    background-color: var(--blue);
    border-radius: 50%;
    position: absolute;
    top: 240px;
    left: 230px;
}

.hour{
    font-size: 30px;
    font-weight: bold;
    color: var(--blue);
    position: absolute;
}

.hour-1{
    top:40px;
    right: 130px;    
}

.hour-2{
    top:125px;
    right: 45px;    
}

.hour-3{
    top:235px;
    right: 10px;    
}

.hour-4{
    top:320px;
    right: 40px;    
}

.hour-5{
    top:380px;
    right: 110px;    
}

.hour-6{
    bottom:10px;
    right: 200px;    
}

.hour-7{
    top:390px;
    left: 150px;    
}

.hour-8{
    top:335px;
    left: 65px;    
}

.hour-9{
    top:235px;
    left: 20px;    
}

.hour-10{
    top:125px;
    left: 45px;    
}

.hour-11{
    top:40px;
    left: 120px;    
}

.hour-12{
    top:20px;
    left:220px    
}

.minute-hand-wrapper{
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50px;
    left:50px;
    border-radius:50%;
}

.minute-hand{
    position: relative;
}

.minute-hand .hand{
    width: 3.5px;
    height: 200px;
    background-color: #2a2185;
    position: absolute;
    left: 198px;
}

.hour-hand-wrapper{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 100px;
    left:100px;
    border-radius:50%;
}

.hour-hand{
    position: relative;
}

.hour-hand .hand{
    width: 5px;
    height: 150px;
    background-color: #2a2185;
    position: absolute;
    left: 148px;
}

.second-hand-wrapper{
    width: 350px;
    height: 350px;
    position: absolute;
    top: 75px;
    left:75px;
    border-radius:50%;
}

.second-hand{
    position: relative;
}

.second-hand .hand{
    width: 2px;
    height: 175px;
    background-color: #2a2185;
    position: absolute;
    left: 175px;
}

.clockarea .clocktitle{
    position: relative;
    font-size: 2.5rem;
    text-align: center;
    color:var(--blue) ;
}

/* ====================change clock time buttom============== */
.btnblock{
    position: relative;
}

.btnblock .botn{
    width: 80px;
    height: 30px;
    background: var(--blue);
    color: var(--white);
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    margin-bottom: 20px;   /* 拉開間距 */
}


.btnblock .botn:hover{
    width: 105px;
    height: 40px;
    background: var(--black1);
    color: var(--white);
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    margin-bottom: 20px;   /* 拉開間距 */
    font-size: 30px;
}

/* ==================download================ */

.downloadblock{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   min-width: 800px;
}

.downloadblock .loadingcircle{
    width:300px ;
    height:300px ;
    border-radius: 50%;
    border: 30px solid var(--black2);
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++ */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++ */

.downloadblock .loadingcircle .downloadbutton{
    position: relative;
    width: 170px;
    height: 52px;
    outline: none;
    color: var(--blue);
    font-size: 16px;
    border-radius:20px;
    border: none;
    transition: 0.7s ease-in-out;
    display:flex;
    justify-content: center;
    align-items: center;
}

.downloadblock .loadingcircle .downloadbutton.active{
   font-size: 0;
   width: 50px;
   background:var(--white);
    
}

.progress-wrapper{
    position: absolute;
    width:100px;
    height: 100px;
    /* background: yellowgreen; */
    transform: scale(0);   /*"scale(0)"表示将元素缩放到0的大小 */
    transition: 0.7s;
    transition-delay:0.5s ;
}

button.active .progress-wrapper{
    transform: scale(.6);   /*"scale(.6)"大小缩小到原始大小的60% */
}

/* inner是跑條中間的白色圓圈 */
.progress-wrapper .inner{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);   /* 把跑條中間的圓圈水平和垂直方向分别向左和向上移动50%的宽度和高度*/
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 50%;
    z-index:2;
    transition: 1s ease;   /* 会以一种缓慢开始，逐渐加速，然后再缓慢结束的方式进行 */
    transition-delay: 4s;
}

button.active .progress-wrapper .inner{
    transform: translate(-50%,-50%) scale(0);  /* 跑完跑條後的勾勾畫面 */
}

.progress-wrapper .bar{
    position: absolute;
    width: 100%;
    height: 100%;
    background:pink;
    border-radius: 50%;
    clip:rect(0px,100px,100px,50px) /* 定義一个裁剪區域*/
}

.circle .bar .progress{
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--blue);
    border-radius: 50%;
    clip:rect(0px,50px,100px,0px);
    z-index:1;
}

.circle .bar.left .progress{
    transition: 1.5s linear;
    transition-delay: 1s;
}

button.active .circle .bar.left .progress{
    transform: rotate(180deg);
}

.progress-wrapper .checkmark{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index:2;
}

.checkmark span{
    position: absolute;
    display: block;
    width: 30px;
    height: 7px;
    background:#fff;
    border-radius: 5px;
    transform-origin:left ;
    transition: .5s;
}

.checkmark span:first-child{
    top:45px;
    left:22px;
    width: 30px;
    transform: rotate(45deg) scaleX(0);
    transition-delay: 5s;
}

button.active .checkmark span:first-child{
    transform: rotate(45deg) scaleX(1);
}

.checkmark span:last-child{
    top:65px;
    left:40px;
    width: 50px;
    transform: rotate(-45deg) scaleX(0);
    transition-delay: 5.5s;
}

button.active .checkmark span:last-child{
    transform: rotate(-45deg) scaleX(1);
}


/* ====================download img============================= */
.imgstyle{
    width: 600px;
    height:400px;
    position: relative;
    padding: 20px;

}

.imgbutton, .filebutton{
   position:relative;
   left: 35%;
   padding: 20px;
   font-size: 1rem;
}

.circle .right{
    transform: rotate(180deg);
}

.circle .bar.right .progress{
    transition: 1.5s linear;
    transition-delay: 2.5s;
}

button.active .circle .bar.right .progress{
transform: rotate(180deg);
}


 /* ===================chart======================= */

 .chartblock{
    position: relative;
    width: 100%;
    height: 100%;
 }

 .doughnutchart{
    position: fixed;
    width: 800px;
    height: 800px;
    left:680px;
    margin:20px;
    margin-top: 100px;
 }

 .chartbutton{
    position: relative;
    display: flex;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
 }

 .chartbut{
    font-size: 1.5rem;
    width: 120px;
    height: 60px;
    border-radius: 20px;
    border: 2px solid var(--blue);
    background-color: var(--white);
    color: var(--blue);
    min-width: 500px;
 }

.chartbut:hover{
    border: 4px solid var(--black1);
    background-color: var(--blue);
    color: var(--white);
}

.chartinput{
    width: 150px;
    height: 25px;
    left: 720px;
    top:160px;
    position: absolute;
    border: 3px salmon solid;
}

.chartinput:hover{
    background-color:seashell;
    border: 5px solid black;
    width: 250px;
    height: 45px;
}


